﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 2310900050</p>
<p>Họ và tên: Nguyễn Duy Khánh</p>
<p>Email: duykhanhduong088@gmail.com</p>
<p>Ngày sinh: 13/01/2005</p>
<p>Lớp: K23CNT2</p>