@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h2>Thông tin sinh viên</h2>
<ul>
    <li>Họ và tên: <b>@ViewBag.NdkName</b></li>
    <li>MSSV: <b>@ViewBag.NdkMSSV</b></li>
    <li>Lớp: <b>@ViewBag.NdkClass</b></li>
    <li>Email: <b>@ViewBag.NdkEmail</b></li>
</ul>