<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="NdkHome" asp-action="NdkIndex">
            <img src="~/images/logo.gif" alt="Logo" style="height:40px; width:auto; display:inline-block; margin-right:10px;" />
            NdkLesson07
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="NdkHome" asp-action="NdkIndex">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="NdkHome" asp-action="NdkAbout">Thông tin sinh viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="NdkEmployee" asp-action="NdkIndex">Danh sách nhân viên</a>
                </li>
            </ul>
        </div>
    </div>
</nav>