
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div>
    <h1>NdkAbout</h1>
    <hr/>
    <p>Mã sinh viên: 231090050</p>
    <p>Họ và Tên: Nguyễn Duy Khánh</p>
    <p>Lớp:K23CNT2</p>
    <p>Email:</p>
</div>

