@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p><strong>Mã sinh viên:</strong> 2310900050</p>
    <p><strong>Họ và tên:</strong> Nguyễn Duy Khánh</p>
    <p><strong>Ngày sinh:</strong> 13/01/2005</p>
    <p><strong>Email:</strong> duykhanhduong088@gmail.com</p>
    <p><strong>Điện thoại:</strong> 0345865380</p>
    <p><strong>Lớp:</strong> K23CNT2</p>
</div>